@define-color text #cdd6f4;
@define-color text-dim #bac2de;
@define-color text-dark #313244;
@define-color blue #89b4fa;

* {
  font-family: FontAwesome, Roboto Mono for Powerline, sans-serif;
}

window#waybar {
  background-color: rgba(17, 17, 27, 0.99);
  color: @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text-dim;
  font-weight: bold;
}

#workspaces button.focused {
  background-color: @blue;
  color: @text-dark;
  border-bottom: 4px solid @text;
}

#window, #workspaces {
  margin: 0 4px;
}

window.blue {
  color: @blue;
}

#cpu, #memory, #clock {
  margin: 0 2px;
}

#custom-separator {
  padding: 0 2px;
}

#clock {
  margin-right: 10px;
}
